.header {
    position: relative;
    margin-bottom: 158px;
}

.bg_header{
    position: absolute;
    width: 100%;
}


.section_1 {
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;

    padding: clamp(123px, 20vw, 131px) 28px 0px 28px;

    @media screen and (min-width: 768px) {
        & {
            margin: auto;
            width: 616px;
            gap: 56px;
        }
    }
}

.content_container {
    display: flex;
    flex-direction: column;
    gap: 56px;

    @media screen and (min-width: 768px) {
        & {
            gap: 48px;
        }
    }
}

.description_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}

.title {
    font-size: clamp(32px, 4.8vw, 46px);
    font-weight: var(--bai-jamjuree-semibold);
    color: var(--color-gray-700);
    line-height: 125%;
    letter-spacing: -0.5px;
    text-wrap: balance;
}

.description {
    font-size: clamp(16px, 7.25vw, 20px);
    font-weight: var(--bai-jamjuree-regular);
    color: var(--color-gray-500);
    line-height: 150%;
    letter-spacing: 0.15px;
}

.download_button_container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (min-width:768px) {
        & {
            flex-direction: row;
            justify-content: center;

            & .download_button{
                padding: 13px 28px;
            }
        }
    }
}

.download_button {
    font-family: var(--font-primary);
    font-weight: var(--bai-jamjuree-semibold);
    border-radius: 28px;
    text-align: center;
    padding: 13px;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.5px;
    border: 1px solid transparent;
    color: var(--color-white);
    box-shadow: 0px 15px 10px -8px var(--color-gray-950);
    cursor: pointer;
}

.download_button-ios {
    background-color: var(--color-green-500);
}

.download_button-mac {
    background-color: var(--color-blue-500);
}

/* <--------------  Section 2  --------------> */

.section_2 {
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding: 0px 32px;
    margin-bottom: 177px;
}

.subtitle {
    font-size: clamp(28px, 7.25vw, 36px);
}

.image_group_1 {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.image_computer {
    max-width: 400px;
}

.features_container {
    display: flex;
    flex-direction: column;
    gap: 56px;
    text-align: center;
}

.feature {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.feature_title {
    font-size: 24px;
    font-weight: var(--bai-jamjuree-semibold);
    line-height: 125%;
    letter-spacing: -0.4px;
    color: var(--color-gray-700);
}

.feature_description {
    font-size: 16px;
}

/* <--------------  Section 3  --------------> */
.section_3 {
    text-align: center;
    padding: 0px 32px;
    margin-bottom: 129px;

    & .subtitle {
        margin-bottom: 16px;
    }

    & .description {
        margin-bottom: 72px;
    }

    & .image_devices {
        max-width: 400px;
    }
}

/* <--------------  Section 4  --------------> */

.section_4 {
    text-align: center;
    padding: 0px 32px;
    margin-bottom: 145px;

    & .subtitle {
        margin-bottom: 16px;
    }

    & .description {
        margin-bottom: 88px;
    }

    & .features_container {
        gap: 64px;
    }
}

.feature_2 {
    align-items: center;

    & .feature_title {
        margin-top: 40px;
        margin-bottom: 16px;
    }

    & .feature_description {
        margin-bottom: 0px;
    }
}

/* <--------------  Logo container  --------------> */

.logo_container {
    width: 140px;
    display: flex;
    flex-direction: column;
    gap: 56px;
    margin: auto;
    margin-bottom: 172px;
}

.logo_group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

/* <--------------  Section 5  --------------> */

.section_5 {
    padding: 0px 32px;
    margin-bottom: 168px;
}

/* <--------------  Footer  --------------> */

.footer {
    background-color: var(--color-gray-50);
    padding: 55px 0px;
}

.footer_content {
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin: auto;
}

.footer_logo {
    width: 56px;
    height: 56px;
}

.links_group {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.links_group li a {
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.15px;
    color: var(--color-gray-700);
}

.social_media_icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
