.header {
    position: relative;
    margin-bottom: 9.375em;
}

.bg_header {
    position: absolute;
    width: 100%;
}

.section_1 {
    display: flex;
    flex-direction: column;
    gap: 4em;
    align-items: center;

    padding: clamp(7.6875em, 20vw, 8.1875em) 1.75em 0em 1.75em;

    @media screen and (min-width: 48em) {
        & {
            margin: auto;
            width: 38.5em;
            gap: 3.5em;
        }
    }

    @media screen and (min-width: 64em) {
        & {
            width: 45.625em;
            padding-inline: 0;
        }
    }
}

.content_container {
    display: flex;
    flex-direction: column;
    gap: 3.5em;

    @media screen and (min-width: 48em) {
        & {
            gap: 3em;
        }
    }
}

.description_container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
}

.title {
    font-size: clamp(2em, 4.8vw, 2.875em);
    font-weight: var(--bai-jamjuree-semibold);
    color: var(--color-gray-700);
    line-height: 125%;
    letter-spacing: -0.0313em;
    text-wrap: balance;
}

.description {
    font-size: clamp(1em, 7.25vw, 1.25em);
    font-weight: var(--bai-jamjuree-regular);
    color: var(--color-gray-500);
    line-height: 150%;
    letter-spacing: 0.0094em;
}

.download_button_container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    @media screen and (min-width: 48em) {
        & {
            flex-direction: row;
            justify-content: center;

            & .download_button {
                padding: 0.8125em 1.75em;
            }
        }
    }

    @media screen and (min-width: 64em) {
        & {
            width: 75%;
            margin: auto;
        }
    }
}

.download_button {
    width: 100%;
    font-family: var(--font-primary);
    font-weight: var(--bai-jamjuree-semibold);
    border-radius: 1.75em;
    text-align: center;
    padding: 0.8125em;
    font-size: 1.25em;
    line-height: 150%;
    letter-spacing: 0.0313em;
    border: 0.0625em solid transparent;
    color: var(--color-white);
    box-shadow: 0em 0.9375em 0.625em -0.5em var(--color-gray-950);
    cursor: pointer;

    transform: scale(1);
    opacity: 100%;
    transition:
        transform 0.3s ease-in-out,
        opacity 0.3s ease-in-out;

    &:hover {
        transform: scale(1.1);
        opacity: 80%;
    }
}

.download_button-ios {
    background-color: var(--color-green-500);
}

.download_button-mac {
    background-color: var(--color-blue-500);
}

/* <--------------  Section 2  --------------> */

.section_2 {
    display: flex;
    flex-direction: column;
    gap: 4.5em;
    padding: 0em 2em;
    margin-bottom: 11.0625em;

    @media screen and (min-width: 48em) {
        & {
            max-width: 38.5em;
            padding: 0;
            gap: 6em;
            margin: 0 auto 9.8125em auto;
        }

        & .image_group_1 {
            gap: 6em;
        }

        & .image_group_1 .image_computer {
            max-width: none;
        }

        & .features_container {
            max-width: 21.875em;
            margin: auto;
        }
    }

    @media screen and (min-width: 64em) {
        & {
            max-width: none;
        }

        & .description_container {
            max-width: 45.625em;
            margin: auto;
        }

        & .image_group_1 {
            flex-direction: row;
        }

        & .image_group_1 .image_computer {
            max-width: clamp(25em, 55vw, 46.875em);
        }

        & .image_group_1 .features_container {
            text-align: start;
            margin: 0;
            margin-right: auto;
            justify-content: center;
        }
    }
}

.subtitle {
    font-size: clamp(1.75em, 7.25vw, 2.25em);
}

.image_group_1 {
    display: flex;
    flex-direction: column;
    gap: 4.5em;
}

.image_computer {
    max-width: 25em;
}

.features_container {
    display: flex;
    flex-direction: column;
    gap: clamp(3.5em, 8.5vw, 4em);
    text-align: center;
}

.feature {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.feature_title {
    font-size: 1.5em;
    font-weight: var(--bai-jamjuree-semibold);
    line-height: 125%;
    letter-spacing: -0.025em;
    color: var(--color-gray-700);
}

.feature_description {
    font-size: 1em;
}

/* <--------------  Section 3  --------------> */
.section_3 {
    text-align: center;
    padding: 0em 2em;
    margin-bottom: 8.0625em;

    & .subtitle {
        margin-bottom: 1em;
    }

    & .description {
        margin-bottom: 4.5em;
    }

    & .image_devices {
        max-width: 25em;
    }

    @media screen and (min-width: 48em) {
        & {
            max-width: 38.5em;
            margin: 0 auto 6.25em auto;
        }

        & .description {
            margin-bottom: 5em;
        }

        & .image_devices {
            max-width: none;
        }
    }

    @media screen and (min-width: 64em) {
        & {
            max-width: 50.5em;
        }
    }
}

/* <--------------  Section 4  --------------> */

.section_4 {
    text-align: center;
    padding: 0em 2em;
    margin-bottom: 9.0625em;

    & .subtitle {
        margin-bottom: 1em;
    }

    & .description {
        margin-bottom: 5.5em;
    }

    & .features_container {
        gap: 4em;
    }

    @media screen and (min-width: 48em) {
        & {
            max-width: 38.5em;
            margin: 0 auto 9.6875em auto;
        }

        & .description {
            margin-bottom: 4.5em;
        }

        & .features_container {
            gap: 3em;
        }

        & .features_container .feature_2 {
            max-width: 24.25em;
            margin: auto;
        }
    }

    @media screen and (min-width: 64em) {
        & {
            max-width: clamp(38.5em, 70vw, 69.625em);
            padding: 0em;
        }

        & .features_container {
            flex-direction: row;
        }
    }
}

.feature_2 {
    align-items: center;

    & .feature_title {
        margin-top: 2.5em;
        margin-bottom: 1em;
    }

    & .feature_description {
        margin-bottom: 0em;
    }
}

/* <--------------  Logo container  --------------> */

.logo_container {
    width: 100%;
    max-width: 8.75em;
    display: flex;
    flex-direction: column;
    gap: 3.5em;
    margin: auto;
    margin-bottom: 10.75em;

    @media screen and (min-width: 48em) {
        & {
            max-width: 36.875em;
            margin-bottom: 9.625em;
        }

        & .logo_group {
            flex-direction: row;
        }

        & .group_2 {
            max-width: 19.875em;
            margin: auto;
        }
    }

    @media screen and (min-width: 64em) {
        & {
            flex-direction: row;
            max-width: 62.5em;
        }
        & .logo_group {
            width: auto;
        }
    }
}

.logo_group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5em;
}

/* <--------------  Section 5  --------------> */

.section_5 {
    padding: 0em 2em;
    margin-bottom: 10.5em;

    @media screen and (min-width: 48em) {
        & {
            max-width: 38.5em;
            padding: 0em;
            margin: 0 auto 9.5625em auto;
        }

        & .download_button_container {
            width: 85%;
            margin: auto;
        }
    }

    @media screen and (min-width: 64em) {
        & {
            max-width: 45.625em;
        }
    }
}

/* <--------------  Footer  --------------> */

.footer {
    background-color: var(--color-gray-50);
    padding: 3.4375em 0em;
}

.footer_content {
    max-width: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin: auto;

    @media screen and (min-width: 64em) {
        & {
            width: 90%;
            max-width: 65.625em;
            flex-direction: row;
            gap: 3.75em;
        }

        & .links_group {
            flex-direction: row;
            width: 40%;
            flex-wrap: wrap;
            column-gap: 2.5em;
            row-gap: 0.625em;
        }

        & .social_media_icons {
            width: 12%;
            margin-left: auto;
        }
    }
}

.footer_logo {
    width: 100%;
    max-width: 3.5em;
    height: 3.5em;
}

.links_group {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
}

@media screen and (min-width: 64em) {
    .link_footer {
        position: relative;
        z-index: 10;
        &::before {
            content: "";
            position: absolute;
            z-index: -10;
            width: 90%;
            height: 8px;
            bottom: 0px;
            right: 3.125rem;
            background-color: var(--color-green-500);
            border-radius: 0.9375rem;
            transition: all 0.4s ease-in-out;
            opacity: 0;
        }

        &:hover::before {
            opacity: 100;
            width: 110%;
            right: -0.3125rem;
        }
    }
}

.footer_link {
    font-size: 1.25em;
    line-height: 150%;
    letter-spacing: 0.0094em;
    color: var(--color-gray-700);
}

.footer_icon{
    color: var(--color-gray-700);
    transition: color 0.3s ease-in-out;

    &:hover{
        color: var(--color-green-500);
    }
}



.social_media_icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
